.listItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 30px;
    align-items: center;
    border-bottom: 2px solid rgb(202, 198, 198);
    padding: 4px;
    /* font-family: 'Roboto Slab', serif; */
}

.listItem--hide {
    display: none;
}

.list {
    margin: 0;
    padding: 0;
}

.listItem__text {
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
}

.taskDone {
    text-decoration: line-through;
}

button {
    cursor: pointer;
}

.button {
    margin: 7px;
    background-color: rgb(19, 179, 19);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    border: none;
    padding: 10px;
    height: 20px;
    width: 20px;
    transition: 1s;
}

.button--thick {
    background-image: url(../Buttons/images/tick.jpg);
}

.button:hover {
    background-color: rgb(144, 230, 144);
}

.button--remove {
    background-color: red;
    background-image: url(../Buttons/images/rubbish.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    transition: 1s;
}

.button--remove:hover {
    background-color: rgb(221, 170, 170);
}



