

.taskList__buttons {
    display: grid;
    grid-template-columns: 150px 160px;
    justify-content: right;
}

@media (max-width: 400px) {
    .taskList__buttons {
        display: grid;
        grid-template-columns: 150px;
        justify-content: center;
        grid-gap: 10px;
    }
}

.taskList__button {
    border: none;
    background-color: transparent;
    color: rgb(31, 128, 123);
    font-weight: bold;
    transition: 1s;
    padding-bottom: 20px;
}

.taskList__button:hover {
    color: rgb(165, 197, 195);
}

.taskList__button:disabled {
    border: none;
    background-color: transparent;
    color: rgb(158, 165, 165);
  }



